#FrogJS{
	min-height: 600px;
	height: auto;
	width:100%;
	margin: 0 auto;
	display: none;
}
#FrogJSCredit{
	text-align: right;
	font-size: 80%;
	color: #999;
	padding: 1px;
}
#FrogJSCaption{
	text-align: left;
	line-height: 140%;
}
#FrogJSleftThumb1{
	margin-left: 0px;
	width: 100px;
	height: 100px;
	border: 5px solid #CCC;
	left:0px;
}
#FrogJSrightThumb1{
	width: 100px;
	height: 100px;
	border: 5px solid #F00000;
	right:0px;
}

@media only screen and (max-width: 800px) {
	#FrogJS{
		padding:120px 0px 0px 0px;
		min-height:auto;
	}
	#FrogJSrightThumb1{
		top:0px !important;
		right:auto!important;
	}
	#FrogJSleftThumb1{
		top:100%!important;
		bottom:0px;
		position:relative!important;
	}
}