#FrogJS{
	min-height: 600px;
	height: auto;
	width:100%;
	margin: 0 auto;
	display: none;
}
#FrogJSCredit{
	text-align: right;
	font-size: 80%;
	color: #999;
	padding: 1px;
}
#FrogJSCaption{
	text-align: left;
	line-height: 140%;
}
#FrogJSleftThumb1{
	margin-left: 0px;
	width: 100px;
	height: 100px;
	border: 5px solid #CCC;
}
#FrogJSrightThumb1{
	width: 100px;
	height: 100px;
	border: 5px solid #F00000;
}