/*BACHECA*/
.sfondobenvenuto{
	background: #fff url('../immagini/benvenuto.jpg') no-repeat;
	/*border: 1px solid #ff0000;*/
	width: 549px;
	height: 163px;
}
#oscura1{
	opacity: 0.5; 
	filter:alpha(opacity=10); 
	background-color:#000;
	height:100%;
	left:0px;
	position:absolute;
	top:0px;
	width:100%;
	z-index:0;
	display: none;
}
/*FINE BACHECA*/