.centropan{ 
	width: 988px; 
}
.menupan{
	width: 300px;
	height: 230px;
	background-color: #E0E0E0;
	float: left;
	border: 1px solid #CCCCCC;
}
.menupantit{
	width: 290px;
	height: 20px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
}
.menupancont{
	width: 290px;
	height: 185px;
	font-weight: bold;
}
.elenco{
	height: 30px;
	width: 290px;
	margin-top: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #999999;
}
.elenco a{
	color: #333333;
	text-decoration: none;
}
.elenco a:hover{
	color: #333333;
	text-decoration: underline;
}
.pannello{
	width: 670px; 
	float: left;
	margin-left: 10px;
}
.menupantit1{
	width: 660px;
	height: 20px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
}
.menupancont1{
	width: 649px;
	margin-top: 10px;
	background-color: #E0E0E0;
	border: 1px solid #CCCCCC;
	padding: 10px;
}
.bottoni{
	margin-top: 10px;
	width: 668px;
	height: 30px;
}
.riga{
	width: 649px;
	height: 40px;
}
.colonna1{
	width: 150px;
	height: 25px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}
.colonna2{
	width: 475px;
	height: 30px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}
.inputcodice{
	width: 300px;
	height: 25px;
}
.inputdata{
	width: 100px;
	height: 25px;
}
.inputqnt{
	width: 100px;
	height: 25px;
}
.riga1{
	width: 649px;
}
.colonna3{
	width: 645px;
	height: 25px;
	padding-top: 15px;
	padding-left: 10px;
}
.colonna4{
	width: 475px;
	height: 30px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}
.listaprod{
	width: 649px;
	height: 30px;
	padding-top: 5px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.listaprod1{
	margin-top: 5px;
	padding-top: 5px;
	width: 651px;
	height: 25px;
	color: #FFFFFF;
	background-color: #666666;
}
.nomeprod{
	width: 300px;
	height: 30px;
	float: left;
}
.prezzoprod{
	width: 100px;
	height: 30px;
	float: left;
	text-align: center;
}
.prezzoscontprod{
	width: 95px;
	height: 30px;
	float: left;
	text-align: center;
}
.prezzoscontprod input{
	width: 85px;
}
.checkprod{
	width: 50px;
	height: 30px;
	text-align: center;
	float: left;
}
.copyright{
	float: left;
}
.errore{
	width: 649px;  
	height: 20px;
	background-color: #FFD7D7;
	color: #FF0000;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}
.successo{
	width: 649px;  
	height: 20px;
	background-color: #C4FFC4;
	color: #006600;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}